.gradient-background {
  background: linear-gradient(300deg, #35155d, #512b81, #4477ce);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Lobster", cursive;
  font-family: "Lora", serif;
  font-family: "Roboto Slab", serif;
}
